* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

.main {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overscroll-behavior: contain;
}


html {
  scroll-behavior: smooth;
}

.hero {
  position: relative;
  background: url("back.jpg") no-repeat center center;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  align-items: center;
  justify-content: center;
}


p {
  position: absolute;
  top: 25%;
  left: 50%;
  margin-right: -80%;
  transform: translate(-50%, -50%);
  filter: blur(1px);
}

a {
  margin-right: .1em;
  opacity: 100%;
  border-radius: 0.3125em;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  font-weight: bold;
  overflow-x: hidden;
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0.875em 1.5625em;
  text-align: center;
  font-family: Georgia, serif;
  font: weight 500px;
  ;
  font-size: 10em;
  letter-spacing: 0.04em
}

a:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
}
