* {
    box-sizing: border-box;
}

.main {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overscroll-behavior: contain;
  }

html {
    scroll-behavior:smooth;
}

.jumbotron {
    position: fixed;
    background: url("right.jpg") no-repeat center center;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    font-family: Georgia, serif;
    letter-spacing: 0.02em;
    font-weight: 400;
} 

.blurred-box{
    position: relative;
    width: 31.5em;
    height: 18.750em;
    background: inherit;
    border-radius: 0.3125em;
    overflow: hidden;
    background-color:rgba(255, 255, 255, 0.2);
    margin: 0 auto;
    transform: translate(0em, 2.5em);
}

.blurred-box:hover {
    background-color: rgba(255, 255, 255, 0.4);
  color: white;
}

.user-icon{
    width: 11em;
    height: 11em;
    background-repeat: no-repeat;
    position:relative;
    text-align: center;
    border-radius: 50%;
    background-size: contain;
    background-image: url("icon.jpg");
    margin: 0 auto;
    transform: translate(0em, -.8em);
}

.user-name{
    color: white;
    position:relative;
    top: calc(50% + 2em);
    left: calc (50%);
    text-align: center;
    font-family: Georgia, serif;
    letter-spacing: 0.02em;
    font-weight: 450;
    -webkit-font-smoothing: antialiased;
    font-size: 2em;
    
}

.user-subtitle{
    margin: 0 auto;
    color: white;
    text-align: center;
    font-family: Georgia, serif;
    letter-spacing: 0.02em;
    font-weight: 450;
    -webkit-font-smoothing: antialiased;
    font-size: 1em;
    transform: translate(0em, 3em);
}

p {
    text-align: center;
}

.centeredText {
    text-align: center;
    transform: translate(0em, 2.5em);
    opacity: 100%;
}

a {
    text-decoration: none;
    overflow-x: hidden;
    color: white;
    background-color:rgba(255,255,255,0.4);
    padding: 0.875em 1.5625em;
    text-align: center;
    position: static;
    width: 100vw;
    height: 100vh;
    text-decoration: none;
    font-family: Georgia, serif;
    letter-spacing: 0.02em;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    border-radius: 0.3125em;
}
a:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
}

section {
    text-decoration: none;
    font-family: Georgia, serif;
    letter-spacing: 0.02em;
    font-weight: 400;
    color: white;
    opacity: 70%;
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 0.09em;
    line-height: 1.6em;
    text-shadow: 0 1px 10px #000;
    position: absolute;
    z-index: 2;
    margin-top: 80vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.7) 100%);
}
section article {
    width: 600px;
    margin: 80px auto 200px;
    text-align: center;

}

.button {
    background-color:rgba(255,255,255,0.4);
    border: none;
    color: white;
    border-radius: 0.3125em;
    padding: 0.875em 1.5625em;
    font-size: 16px;
    text-align: center;
    position: static;
    text-decoration: none;
    font-family: Georgia, serif;
    letter-spacing: 0.02em;
    font-weight: 400;
    overflow: visible;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.5);
  color: white;
  overflow: visible;
}

.pic {

    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(90deg);
    margin: 0 auto;
    scroll-margin-top: 20px;
  }
  
  .arrow {
    transform: translate(-18.55em,-1.3em);
    position: absolute;
    top: 30%;
    left: 60%;
    height: 60px;
    width: 100px;
    background: rgba(0, 255, 255, 0);
  }
  
  .arrow:before {
    content: "";
    width: 25px;
    height: 2px;
    background: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    margin-top: -1px;
    right: 24px;
    transition: all 0.3s ease;
  }
  
  .arrow:hover:before {
    right: 34px;
    width: 35px;
  }
  
  .arrow:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent #ffffff;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    right: 20px;
    transition: all 0.3s ease;
  }
  
  .arrow:hover:after {
    right: 10px;
    right: 30px;
  }