*{
    margin: 0;
    padding: 0;
}

body {
    border-radius: 8px;
    background-image: url("https://github.com/Connor-page3/ConnorPageWebsite/blob/main/Assets/TrailBackground.jpg?raw=true");
    /* max-width: 100%; */
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: top; /* top? */
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica;
    letter-spacing: 0.02em;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.blurred-box{
    position: relative;
    width: 250px;
    height: 350px;
    top: calc(50% - 450px);
    left: calc(50% - 125px);
    background: inherit;
    border-radius: 5px;
    overflow: hidden;
}

.blurred-box:after{
    content: '';
    width: 300px;
    height: 300px;
    background: inherit; 
    position: absolute;
    left: -25px;
    left: position;
    right: 0;
    top: -25px;  
    top: position;
    bottom: 0;
    box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
    filter: blur(10px);
    border-radius: 5px;
}

.user-icon{
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 50%;
    background-size: contain;
    background-image: url("https://github.com/Connor-page3/ConnorPageWebsite/blob/main/Assets/IMG_8126.jpg?raw=true");
}

.user-name{
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
}

a {
    text-decoration: none;
    color: white;
    background-color:rgba(255,255,255,0.05);
    padding: 14px 25px;
    text-align: center;
    position: static;
    width: 100%;
    text-decoration: none;
    font-family: Arial, Helvetica;
    letter-spacing: 0.02em;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    border-radius: 5px;
}
p {
    color: rgb(255, 255, 255);
    font-size: 32px;
    width: calc(100%);
    height: calc(50% - 200px)
}