p {
    color: red;
    text-align: center;
    border: 2px solid black;
}

a {
    color: purple;
}

#para1 {
    color: green;
}

.myclass {
    color: white;
    text-align: right;
    background-color: rgb(125,0,250);
}

p.myclass {
text-decoration: underline;
boarder: none;
}

* {
    background-color : rgba(0,0,0,.5)
}